<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Destinations:</strong>
  <% @destinations.each do |destination| %>
  <%= destination.city %>,
  <%= destination.country %> <br>
    <ul>
      <% destination.books.each do |book| %>
    <li><%= book %></br></li>
    <% end %>
    </ul>
  <% end %>
</p>
<!--
<h3>Destinations</h3>
<ul class="list-group">
<% @user.destinations.each do |destination| %>
  <li class="list-group-item">
    <%= destination.books %>
  </li>
<% end %>
</ul> -->


<%= link_to 'Edit', edit_user_path(@user) %> |
