<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Destinations:</strong>
  <% @destinations.each do |destination| %>
  <%= destination.city %>,
  <%= destination.country %> <br>
    <ul>
      <% destination.books.each do |book| %>
    <li><%= book %></br></li>
    <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
