<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
   <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Books:</strong>
  <ol>
  <% @destination.books.each do |book| %>
    <li><%= book %> -- By: <%= Destination.get_author(book) %>
      <%= form_tag(controller: "destinations", action: "favorite", method: "post") do %>
        <%= submit_tag "Favorite"%>
      <% end %>
      <%= image_tag Destination.get_image_url(book) %>
  <% end %>
  </ol>
</p>

<%= link_to 'Back', destinations_path %>
