<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<p id="notice"><%= notice %></p>

<p class="bookInfo">
  <strong>City:</strong>
   <%= @destination.city %>
</p>

<p class="bookInfo">
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p class="bookInfo">
  <strong>Books:</strong>
  <dl class="dl-horizontal">
  <dt><% @destination.books.each do |book| %>
    <dd><%= image_tag Destination.get_image_url(book) %><dd>
      <%= book %> -- By: <%= Destination.get_author(book) %>
      <%= form_tag(controller: "destinations", action: "favorite", method: "post") do %>
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-heart-o fa-2x"></i>
        </button><dt>
      <% end %>
      <br>
  <% end %>
  </dl>
</p>

<%= link_to 'Back', destinations_path %>
